/* Selector id*/
#contenedor{
    width: 900px;
    height: 1200px;
    background-color: #d49e23;
}

#encabezado{
    background-color: #d9bd1f;
    height: 25%;
}

#barraNavegacion{
    height: 5%;
    background-color: #713505;
}

#seccion1{
    background-color: #b01a1c;
    height: 30%;
    border-color: #68531e;
    border: 2px;
}

#seccion2{
    background-color: #dcc43c;
    height: 30%;
    border-color: #68531e;
    border: 2px;
    margin-top: 2em;
}

#pie{
    height: 10%;
    background-color:  #744607;
    color: aliceblue;
    margin-top: 1em;
}

.img1{
    float: right;
    
}

.img2{
    float: left; 
}

/* Selector de clase */
.Textoencabezado{
    text-align: center;
    padding: 4%;
}

.encabezado1{
    float: left;
    margin-left: 0.5em;

}

.encabezado2{
    float: right;
    margin-right: 0.5em;
}

.texto1{
    float: left;
    margin-left: 0.7em;
    text-align: justify;
    padding-right: 27em;
}

.texto2{
    float: right;
    margin-right: 0.7em;
    text-align: justify;
    padding-left: 27em;
}


/*selector de etiqueta*/
ul{
    text-align: center;
    padding-top: 1em;
}
li{
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
}
img{
    width: 100px;
    border-top: 1px;
    margin-left: 5px;
    margin-right: 5px;
    float: right;
}